footer{
    border-top: 1px solid black;
    text-align: center;
    background-color: black;
    position:fixed;
    left:0;
    bottom: 0;
    width: 100%;
}

#footer-text{
    padding: 1vh 0%;
    font-size: 115%;
    color: white;
}